.contact{
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 10px;
    border: 4px solid black;
    color: #fff;
    background-image: linear-gradient(to bottom,rgb(29, 22, 22), rgb(240, 52, 52));
}
.contact h3 {
    text-align: center;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
}
.form {
    display: flex;
    flex-direction: column;
  }
.form input{
    width: 40%;
    padding: 5px;
    border-radius: 5px;
}
.date-group {
    display: flex;
    gap: 10px;
  }
  
  .date-group input {
    flex: 1;
  }
.form button {
    width: 30%;
    padding: 10px;
    margin-top: 15px;
    background: white;
    color: rgb(224, 100, 162);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.form button:hover {
    background: #037930;
    color: white;
}